body{
	font-family: $body-font;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-family: $header-font;
	font-size: 6em;
	text-align: center;
	color: $header-color;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.question {
	font-size: $font-size-questions;
}

.answer {
	font-size: $font-size-answers;
}

.timer {
	text-align: center;
}


