@import url('https://fonts.googleapis.com/css?family=Russo+One');


$header-font: 'Russo One', serif;
$body-font: 'Helvetica', sans-serif;

$header-color: hsl(0,0%,90%);
$color-time-remaining: hsl(0,0%,80%);
$color-answer: hsl(0,0%,85%);
$color-question: hsl(0,0%,100%);
$color-results: hsl(0,0%,95%);

$font-size-questions: 1.5em;
$font-size-answers: 1em;
$font-size-submit: 1.5em;
$font-size-results: 2.2em;